.section-main {
    padding: 5rem 0;
}

.section-main h2 {
    font-size: 2.5rem;
    font-weight: 300;
    color: white;
}

.section-main p {
    margin: 2rem 0;
    font-size: 1.2rem;
    color: #ff971c;
}

.section-contact {
    background-color: #ffffff;
}

.section-contact {
    padding: 4rem 0;
}

.section-contact h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #272727;
}

.section-contact p {
    color: #272727;
    margin: 2rem 0 0.8rem 0;
    font-size: 1.3rem;
}

.section-contact .title-line {
    width: 12%;
    height: 2px;
    background-color: #ff971c;
    margin: 0 auto 2rem auto;
}

.form-row {
    width: 100%;
}

.column-half,
.column-full {
    float: left;
    width: 100%;
    padding: 0.65rem;
}

.box {
    margin-bottom: 2rem;
}

span.name-box {
    width: 100% !important;
}

span.email-box {
    width: 100% !important;
}

.box input[type="text"],
.box input[type="email"],
.box textarea {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #ccc;
    color: rgb(88, 89, 91);
    border-radius: 3px;
    outline: 0;
    transition: all 0.3s ease-out 0s;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box textarea:focus {
    border: 1px solid #007bff;
    outline: medium none !important;
    transition: all 0.3s ease-out 0s;
}

.text-area {
    height: 9rem;
    font-size: 1rem;
}

.form button {
    margin-top: 1.2rem;
    color: #fff;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 500;
    background: #ff971c;
    border: 1px solid #ff971c;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form .button:hover {
    background: #454545;
    border: 1px solid #393939;
}

@media only screen and (min-width: 48em) {
    .column-half {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .input-box:not(.message-box):nth-child(3n + 1) {
        clear: left;
    }
    .input-box:not(.message-box):last-child {
        margin-right: 0;
    }
    .input-box:not(.message-box) {
        float: left;
        margin-right: 2.35765%;
        width: 31.76157%;
    }
}


/* @media screen and (min-width: 1024px) {
    .section-main {
        padding: 10.5rem 0;
    }
    .section-main h2 {
        font-size: 4rem;
        line-height: 3rem;
    }
    .section-contact h2 {
        font-size: 4rem;
    }
    .section-contact p {
        margin: 2.5rem 0;
        font-size: 2rem;
    }
    .box input[type="text"],
    .box input[type="email"],
    .box textarea {
        padding: 18px 20px;
    }
} */


/* max-width: 1366px */