/*----------------------------RESPONSIVE STYLES------------------------------- */


/* ---------- MAX 1024PX ---------- */

@media screen and (max-width: 1024px) {
    .col-divider-margin {
        margin-top: 30px;
    }
    .text-box-right {
        padding: 0px 0px 0px 100px;
    }
    .wrapper-main {
        width: 100%;
        padding-left: 230px;
        background-color: #fff;
    }
    .wrapper-main .container {
        width: 100%;
    }
    .header-inner.less-height .text {
        padding: 13% 0 0;
    }
    .header-inner .text {
        padding: 25% 0 0;
    }
}

@media screen and (max-width: 1000px) {
    .col-divider-margin {
        margin-top: 20px;
    }
    .col-divider-margin-1,
    .col-divider-margin-2,
    .col-divider-margin-3,
    .col-divider-margin-4,
    .col-divider-margin-5,
    .col-divider-margin-6 {
        margin-top: 20px;
    }
    .sec-m-margin-1 {
        margin-top: 0px;
    }
    .topbar-transparent {
        background-color: #101010;
    }
    .wrapper-main {
        padding-left: 0px;
    }
    .header-inner-tmargin {
        margin-top: 0px;
    }
}


/* ---------- MAX 991PX ---------- */

@media only screen and (max-width: 991px) {
    .margin-bottom {
        margin-bottom: 30px;
    }
    .col-divider-margin {
        margin-top: 20px;
    }
    .col-divider-margin-1,
    .col-divider-margin-2,
    .col-divider-margin-3,
    .col-divider-margin-4,
    .col-divider-margin-5,
    .col-divider-margin-6 {
        margin-top: 20px;
    }
    .margin-left-1,
    .margin-left-2,
    .margin-left-3,
    .margin-left-4,
    .margin-left-5,
    .margin-left-6,
    .margin-left-7 {
        margin-left: 0px;
    }
    .padding-top-1,
    .padding-top-2,
    .padding-top-3,
    .padding-top-4,
    .padding-top-5,
    .padding-top-6 {
        padding-top: 40px;
    }
    .padding-left-1,
    .padding-left-2,
    .padding-left-3,
    .padding-left-4,
    .padding-left-5,
    .padding-left-6,
    .padding-left-7,
    .padding-left-8 {
        padding-left: 40px;
    }
    .padding-right-1,
    .padding-right-2,
    .padding-right-3,
    .padding-right-4,
    .padding-right-5,
    .padding-right-6,
    .padding-right-7,
    .padding-right-8 {
        padding-right: 40px;
    }
    .text-box.padding-1,
    .text-box.padding-2,
    .text-box.padding-3,
    .text-box.padding-4,
    .text-box.padding-5,
    .text-box.padding-6,
    .text-box.padding-7,
    .text-box.padding-8,
    .text-box.padding-9 {
        padding: 40px;
    }
    .btn.btn-mar-left-1,
    .btn.btn-mar-left-2,
    .btn.btn-mar-left-3,
    .btn.btn-mar-left-4,
    .btn.btn-mar-left-5 {
        margin-left: 0px
    }
    .sec-title-container.less-padding-1,
    .sec-title-container.less-padding-2,
    .sec-title-container.less-padding-3,
    .sec-title-container.less-padding-4,
    .sec-title-container.less-padding-5,
    .sec-title-container.less-padding-6 {
        padding-bottom: 30px;
    }
    .header-inner {
        height: 385px;
    }
    .header-inner.less-height {
        height: 385px;
    }
    .header-inner.less-height .text {
        padding: 16% 0 0;
    }
    .header-inner .text {
        padding: 16% 0 0;
    }
    .sec-padding {
        padding: 100px 0 100px 0;
    }
    .section-side-image .text-inner-6 {
        padding: 40px;
    }
}


/* ---------- MAX 800PX ---------- */

@media only screen and (max-width: 800px) {
    .margin-bottom {
        margin-bottom: 30px;
    }
    .margin-bottom-4,
    .margin-bottom-5 {
        margin-bottom: 20px;
    }
    .margin-top-3,
    .margin-top-4,
    .margin-top-5,
    .margin-top-6,
    .margin-top-7 {
        margin-top: 20px;
    }
    .col-divider-margin {
        margin-top: 20px;
    }
    .col-divider-margin-1,
    .col-divider-margin-2,
    .col-divider-margin-3,
    .col-divider-margin-4,
    .col-divider-margin-5,
    .col-divider-margin-6 {
        margin-top: 20px;
    }
    .margin-left-1,
    .margin-left-2,
    .margin-left-3,
    .margin-left-4,
    .margin-left-5,
    .margin-left-6,
    .margin-left-7 {
        margin-left: 0px;
    }
    .padding-top-1,
    .padding-top-2,
    .padding-top-3,
    .padding-top-4,
    .padding-top-5,
    .padding-top-6 {
        padding-top: 40px;
    }
    .padding-left-1,
    .padding-left-2,
    .padding-left-3,
    .padding-left-4,
    .padding-left-5,
    .padding-left-6,
    .padding-left-7,
    .padding-left-8 {
        padding-left: 40px;
    }
    .padding-right-1,
    .padding-right-2,
    .padding-right-3,
    .padding-right-4,
    .padding-right-5,
    .padding-right-6,
    .padding-right-7,
    .padding-right-8 {
        padding-right: 40px;
    }
    .text-box.padding-1,
    .text-box.padding-2,
    .text-box.padding-3,
    .text-box.padding-4,
    .text-box.padding-5,
    .text-box.padding-6,
    .text-box.padding-7,
    .text-box.padding-8,
    .text-box.padding-9 {
        padding: 40px;
    }
    .btn.btn-mar-left-1,
    .btn.btn-mar-left-2,
    .btn.btn-mar-left-3,
    .btn.btn-mar-left-4,
    .btn.btn-mar-left-5 {
        margin-left: 0px
    }
    .sec-title-container.less-padding-1,
    .sec-title-container.less-padding-2,
    .sec-title-container.less-padding-3,
    .sec-title-container.less-padding-4,
    .sec-title-container.less-padding-5,
    .sec-title-container.less-padding-6 {
        padding-bottom: 30px;
    }
    .sec-padding {
        padding: 60px 0 60px 0;
    }
    .sec-more-padding-1 {
        padding: 60px 0 60px 0;
    }
    .sec-bpadding-2,
    .sec-bpadding-3,
    .sec-bpadding-4 {
        padding-bottom: 60px;
    }
    .sec-tpadding-2,
    .sec-tpadding-3,
    .sec-tpadding-4 {
        padding-top: 60px;
    }
    .section-xmore-padding,
    .section-less-padding,
    .section-less-padding-2 {
        padding: 60px 0 60px 0;
    }
    .sec-moreless-padding {
        padding: 60px 0 60px 0;
    }
    .thumbs li {
        width: 10%;
    }
    .fo-copyright-holder .social-iconbox {
        left: 33%;
        top: -87px;
    }
    .fo-sec-3 {
        padding: 244px 0 0 0;
    }
    .header-inner {
        height: 310px;
    }
    .header-inner.less-height {
        height: 310px;
    }
    .section-side-image .text-inner-6 {
        padding: 40px;
    }
    .sec-padding-4 {
        padding: 0 0 0 0;
    }
}


/* ---------- MAX 768PX ---------- */

@media only screen and (max-width: 768px) {
    .margin-bottom {
        margin-bottom: 30px;
    }
    .margin-bottom-4,
    .margin-bottom-5 {
        margin-bottom: 20px;
    }
    .margin-top-3,
    .margin-top-4,
    .margin-top-5,
    .margin-top-6,
    .margin-top-7 {
        margin-top: 20px;
    }
    .col-divider-margin {
        margin-top: 20px;
    }
    .col-divider-margin-1,
    .col-divider-margin-2,
    .col-divider-margin-3,
    .col-divider-margin-4,
    .col-divider-margin-5,
    .col-divider-margin-6 {
        margin-top: 20px;
    }
    .margin-left-1,
    .margin-left-2,
    .margin-left-3,
    .margin-left-4,
    .margin-left-5,
    .margin-left-6,
    .margin-left-7 {
        margin-left: 0px;
    }
    .padding-top-1,
    .padding-top-2,
    .padding-top-3,
    .padding-top-4,
    .padding-top-5,
    .padding-top-6 {
        padding-top: 40px;
    }
    .padding-top-1,
    .padding-top-2,
    .padding-top-3,
    .padding-top-4,
    .padding-top-5,
    .padding-top-6 {
        padding-top: 40px;
    }
    .padding-left-1,
    .padding-left-2,
    .padding-left-3,
    .padding-left-4,
    .padding-left-5,
    .padding-left-6,
    .padding-left-7,
    .padding-left-8 {
        padding-left: 40px;
    }
    .padding-right-1,
    .padding-right-2,
    .padding-right-3,
    .padding-right-4,
    .padding-right-5,
    .padding-right-6,
    .padding-right-7,
    .padding-right-8 {
        padding-right: 40px;
    }
    .text-box.padding-1,
    .text-box.padding-2,
    .text-box.padding-3,
    .text-box.padding-4,
    .text-box.padding-5,
    .text-box.padding-6,
    .text-box.padding-7,
    .text-box.padding-8,
    .text-box.padding-9 {
        padding: 40px;
    }
    .btn.btn-mar-left-1,
    .btn.btn-mar-left-2,
    .btn.btn-mar-left-3,
    .btn.btn-mar-left-4,
    .btn.btn-mar-left-5 {
        margin-left: 0px
    }
    .sec-title-container.less-padding-1,
    .sec-title-container.less-padding-2,
    .sec-title-container.less-padding-3,
    .sec-title-container.less-padding-4,
    .sec-title-container.less-padding-5,
    .sec-title-container.less-padding-6 {
        padding-bottom: 30px;
    }
    .sec-padding {
        padding: 60px 0 60px 0;
    }
    .sec-more-padding-1 {
        padding: 60px 0 60px 0;
    }
    .sec-bpadding-2,
    .sec-bpadding-3,
    .sec-bpadding-4 {
        padding-bottom: 60px;
    }
    .sec-tpadding-2,
    .sec-tpadding-3,
    .sec-tpadding-4 {
        padding-top: 60px;
    }
    .section-xmore-padding,
    .section-less-padding,
    .section-less-padding-2 {
        padding: 60px 0 60px 0;
    }
    .sec-moreless-padding {
        padding: 60px 0 60px 0;
    }
    .fo-copyright-holder .social-iconbox {
        left: 33%;
        top: -87px;
    }
    .header-inner {
        height: 325px;
    }
    .header-inner.less-height {
        height: 325px;
    }
    .five-cols .col-md-1,
    .five-cols .col-sm-1,
    .five-cols .col-lg-1 {
        width: 100%;
    }
}


/* ---------- MAX 767PX ---------- */

@media only screen and (max-width: 767px) {
    .margin-bottom {
        margin-bottom: 30px;
    }
    .margin-bottom-4,
    .margin-bottom-5 {
        margin-bottom: 20px;
    }
    .margin-top-3,
    .margin-top-4,
    .margin-top-5,
    .margin-top-6,
    .margin-top-7 {
        margin-top: 20px;
    }
    .col-divider-margin {
        margin-top: 20px;
    }
    .col-divider-margin-1,
    .col-divider-margin-2,
    .col-divider-margin-3,
    .col-divider-margin-4,
    .col-divider-margin-5,
    .col-divider-margin-6 {
        margin-top: 20px;
    }
    .margin-left-1,
    .margin-left-2,
    .margin-left-3,
    .margin-left-4,
    .margin-left-5,
    .margin-left-6,
    .margin-left-7 {
        margin-left: 0px;
    }
    .padding-top-1,
    .padding-top-2,
    .padding-top-3,
    .padding-top-4,
    .padding-top-5,
    .padding-top-6 {
        padding-top: 40px;
    }
    .padding-left-1,
    .padding-left-2,
    .padding-left-3,
    .padding-left-4,
    .padding-left-5,
    .padding-left-6,
    .padding-left-7,
    .padding-left-8 {
        padding-left: 40px;
    }
    .padding-right-1,
    .padding-right-2,
    .padding-right-3,
    .padding-right-4,
    .padding-right-5,
    .padding-right-6,
    .padding-right-7,
    .padding-right-8 {
        padding-right: 40px;
    }
    .text-box.padding-1,
    .text-box.padding-2,
    .text-box.padding-3,
    .text-box.padding-4,
    .text-box.padding-5,
    .text-box.padding-6,
    .text-box.padding-7,
    .text-box.padding-8,
    .text-box.padding-9 {
        padding: 40px;
    }
    .btn.btn-mar-left-1,
    .btn.btn-mar-left-2,
    .btn.btn-mar-left-3,
    .btn.btn-mar-left-4,
    .btn.btn-mar-left-5 {
        margin-left: 0px
    }
    .sec-title-container.less-padding-1,
    .sec-title-container.less-padding-2,
    .sec-title-container.less-padding-3,
    .sec-title-container.less-padding-4,
    .sec-title-container.less-padding-5,
    .sec-title-container.less-padding-6 {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 640px) {
    .margin-bottom {
        margin-bottom: 30px;
    }
    .margin-bottom-4,
    .margin-bottom-5 {
        margin-bottom: 20px;
    }
    .margin-top-3,
    .margin-top-4,
    .margin-top-5,
    .margin-top-6,
    .margin-top-7 {
        margin-top: 20px;
    }
    .col-divider-margin {
        margin-top: 20px;
    }
    .col-divider-margin-1,
    .col-divider-margin-2,
    .col-divider-margin-3,
    .col-divider-margin-4,
    .col-divider-margin-5,
    .col-divider-margin-6 {
        margin-top: 20px;
    }
    .margin-left-1,
    .margin-left-2,
    .margin-left-3,
    .margin-left-4,
    .margin-left-5,
    .margin-left-6,
    .margin-left-7 {
        margin-left: 0px;
    }
    .padding-top-1,
    .padding-top-2,
    .padding-top-3,
    .padding-top-4,
    .padding-top-5,
    .padding-top-6 {
        padding-top: 40px;
    }
    .padding-left-1,
    .padding-left-2,
    .padding-left-3,
    .padding-left-4,
    .padding-left-5,
    .padding-left-6,
    .padding-left-7,
    .padding-left-8 {
        padding-left: 40px;
    }
    .padding-right-1,
    .padding-right-2,
    .padding-right-3,
    .padding-right-4,
    .padding-right-5,
    .padding-right-6,
    .padding-right-7,
    .padding-right-8 {
        padding-right: 40px;
    }
    .lspace-sm,
    .lspace-1,
    .lspace-2,
    .lspace-3,
    .lspace-4,
    .lspace-5 {
        letter-spacing: 0px;
    }
    .text-box.padding-1,
    .text-box.padding-2,
    .text-box.padding-3,
    .text-box.padding-4,
    .text-box.padding-5,
    .text-box.padding-6,
    .text-box.padding-7,
    .text-box.padding-8,
    .text-box.padding-9 {
        padding: 40px;
    }
    .btn.btn-mar-left-1,
    .btn.btn-mar-left-2,
    .btn.btn-mar-left-3,
    .btn.btn-mar-left-4,
    .btn.btn-mar-left-5 {
        margin-left: 0px
    }
    .sec-title-container.less-padding-1,
    .sec-title-container.less-padding-2,
    .sec-title-container.less-padding-3,
    .sec-title-container.less-padding-4,
    .sec-title-container.less-padding-5,
    .sec-title-container.less-padding-6 {
        padding-bottom: 30px;
    }
    .sec-padding {
        padding: 40px 0 40px 0;
    }
    .sec-more-padding-1 {
        padding: 40px 0 40px 0;
    }
    .sec-bpadding-2,
    .sec-bpadding-3,
    .sec-bpadding-4 {
        padding-bottom: 40px;
    }
    .sec-tpadding-2,
    .sec-tpadding-3,
    .sec-tpadding-4 {
        padding-top: 40px;
    }
    .section-xmore-padding,
    .section-less-padding,
    .section-less-padding-2 {
        padding: 40px 0 40px 0;
    }
    .sec-moreless-padding {
        padding: 40px 0 40px 0;
    }
    #style-customizer {
        display: none;
    }
    .text-box.sbox-padd-left {
        padding-left: 80px;
    }
    .fo-sec-1 .newsletter-box {
        top: 0;
    }
    .fo-sec-1 {
        top: 0px;
        padding: 315px 0 0 0;
    }
    .fo-copyright-holder .social-iconbox {
        left: 29%;
        top: -67px;
    }
    .section-side-image .text-inner-5 {
        padding: 40px 40px 40px 40px;
    }
    .header-inner {
        height: 270px;
    }
    .header-inner.less-height {
        height: 270px;
    }
    .sec-padding-4 {
        padding: 0 0 0 0;
    }
}

@media screen and (max-width: 480px) {
    .margin-bottom {
        margin-bottom: 30px;
    }
    .margin-bottom-4,
    .margin-bottom-5 {
        margin-bottom: 20px;
    }
    .margin-top-3,
    .margin-top-4,
    .margin-top-5,
    .margin-top-6,
    .margin-top-7 {
        margin-top: 20px;
    }
    .col-divider-margin {
        margin-top: 20px;
    }
    .col-divider-margin-1,
    .col-divider-margin-2,
    .col-divider-margin-3,
    .col-divider-margin-4,
    .col-divider-margin-5,
    .col-divider-margin-6 {
        margin-top: 20px;
    }
    .margin-left-1,
    .margin-left-2,
    .margin-left-3,
    .margin-left-4,
    .margin-left-5,
    .margin-left-6,
    .margin-left-7 {
        margin-left: 0px;
    }
    .padding-top-1,
    .padding-top-2,
    .padding-top-3,
    .padding-top-4,
    .padding-top-5,
    .padding-top-6 {
        padding-top: 30px;
    }
    .padding-left-1,
    .padding-left-2,
    .padding-left-3,
    .padding-left-4,
    .padding-left-5,
    .padding-left-6,
    .padding-left-7,
    .padding-left-8 {
        padding-left: 30px;
    }
    .padding-right-1,
    .padding-right-2,
    .padding-right-3,
    .padding-right-4,
    .padding-right-5,
    .padding-right-6,
    .padding-right-7,
    .padding-right-8 {
        padding-right: 30px;
    }
    .lspace-sm,
    .lspace-1,
    .lspace-2,
    .lspace-3,
    .lspace-4,
    .lspace-5 {
        letter-spacing: 0px;
    }
    .text-box.padding-1,
    .text-box.padding-2,
    .text-box.padding-3,
    .text-box.padding-4,
    .text-box.padding-5,
    .text-box.padding-6,
    .text-box.padding-7,
    .text-box.padding-8,
    .text-box.padding-9 {
        padding: 30px;
    }
    .btn.btn-mar-left-1,
    .btn.btn-mar-left-2,
    .btn.btn-mar-left-3,
    .btn.btn-mar-left-4,
    .btn.btn-mar-left-5 {
        margin-left: 0px
    }
    .topbar .border-r {
        border-right: none;
    }
    .topbar .padd-left {
        padding-left: 0px;
    }
    .sec-title-container.less-padding-1,
    .sec-title-container.less-padding-2,
    .sec-title-container.less-padding-3,
    .sec-title-container.less-padding-4,
    .sec-title-container.less-padding-5,
    .sec-title-container.less-padding-6 {
        padding-bottom: 30px;
    }
    .sec-padding {
        padding: 40px 0 40px 0;
    }
    .sec-more-padding-1 {
        padding: 40px 0 40px 0;
    }
    .sec-bpadding-2,
    .sec-bpadding-3,
    .sec-bpadding-4 {
        padding-bottom: 40px;
    }
    .sec-tpadding-2,
    .sec-tpadding-3,
    .sec-tpadding-4 {
        padding-top: 40px;
    }
    .section-xmore-padding,
    .section-less-padding,
    .section-less-padding-2 {
        padding: 40px 0 40px 0;
    }
    .sec-moreless-padding {
        padding: 40px 0 40px 0;
    }
    #style-customizer {
        display: none;
    }
    .fo-copyright-holder .social-iconbox {
        left: 12%;
        top: -67px;
    }
    .fo-sec-3 {
        padding: 287px 0 0 0;
    }
    .section-side-image .text-inner-5 {
        padding: 40px 40px 40px 40px;
    }
    .header-inner .text .title {
        font-size: 20px;
    }
    .header-inner .text .sub-title {
        font-size: 14px;
    }
    .header-inner {
        height: 225px;
    }
    .header-inner.less-height {
        height: 225px;
    }
    .clients-list.grid-cols-6 li {
        width: 50%;
    }
    .section-side-image .text-inner {
        padding: 40px 40px 40px 40px;
    }
    .sec-title-container {
        padding-bottom: 70px;
    }
}


/* ---------- MAX 360PX ---------- */

@media screen and (max-width: 360px) {
    .margin-bottom {
        margin-bottom: 30px;
    }
    .margin-bottom-4,
    .margin-bottom-5 {
        margin-bottom: 20px;
    }
    .margin-top-3,
    .margin-top-4,
    .margin-top-5,
    .margin-top-6,
    .margin-top-7 {
        margin-top: 20px;
    }
    .col-divider-margin {
        margin-top: 20px;
    }
    .col-divider-margin-1,
    .col-divider-margin-2,
    .col-divider-margin-3,
    .col-divider-margin-4,
    .col-divider-margin-5,
    .col-divider-margin-6 {
        margin-top: 20px;
    }
    .margin-left-1,
    .margin-left-2,
    .margin-left-3,
    .margin-left-4,
    .margin-left-5,
    .margin-left-6,
    .margin-left-7 {
        margin-left: 0px;
    }
    .padding-top-1,
    .padding-top-2,
    .padding-top-3,
    .padding-top-4,
    .padding-top-5,
    .padding-top-6 {
        padding-top: 25px;
    }
    .padding-left-1,
    .padding-left-2,
    .padding-left-3,
    .padding-left-4,
    .padding-left-5,
    .padding-left-6,
    .padding-left-7,
    .padding-left-8 {
        padding-left: 25px;
    }
    .padding-right-1,
    .padding-right-2,
    .padding-right-3,
    .padding-right-4,
    .padding-right-5,
    .padding-right-6,
    .padding-right-7,
    .padding-right-8 {
        padding-right: 25px;
    }
    .lspace-sm,
    .lspace-1,
    .lspace-2,
    .lspace-3,
    .lspace-4,
    .lspace-5 {
        letter-spacing: 0px;
    }
    .iconbox-dxlarge.left,
    .iconbox-xlarge.left,
    .iconbox-large.left,
    .iconbox-xmedium.left,
    .iconbox-medium.left,
    .iconbox-smedium.left,
    .iconbox-small.left,
    .iconbox-tiny.left,
    .iconbox-xtiny.left {
        margin: 0px 0px 20px 0px;
    }
    .imgbox-dxlarge.left,
    .imgbox-dxlarge-2.left,
    .imgbox-xlarge.left,
    .imgbox-large.left,
    .imgbox-xmedium.left,
    .imgbox-medium.left,
    .imgbox-smedium.left,
    .imgbox-small.left,
    .imgbox-tiny.left,
    .imgbox-xtiny.left {
        float: left;
        margin: 0px 0 20px 0px;
    }
    .text-box-right {
        width: 100%;
        padding: 0 0 0 0;
    }
    .text-box-left {
        width: 100%;
        padding: 0 0 0 0;
    }
    .text-box.padding-1,
    .text-box.padding-2,
    .text-box.padding-3,
    .text-box.padding-4,
    .text-box.padding-5,
    .text-box.padding-6,
    .text-box.padding-7,
    .text-box.padding-8,
    .text-box.padding-9 {
        padding: 25px;
    }
    .text-box-left.more-padding-1,
    .text-box-left.more-padding-2,
    .text-box-left.less-padding-1,
    .text-box-left.less-padding-2 {
        padding: 0px 0px 0px 0px;
    }
    .text-box-right.more-padding-1,
    .text-box-right.more-padding-2,
    .text-box-right.more-padding-3,
    .text-box-right.more-padding-4,
    .text-box-right.less-padding-1,
    .text-box-right.less-padding-2,
    .text-box-right.less-padding-3 {
        padding: 0px 0px 0px 0px;
    }
    .btn.btn-mar-left-1,
    .btn.btn-mar-left-2,
    .btn.btn-mar-left-3,
    .btn.btn-mar-left-4,
    .btn.btn-mar-left-5 {
        margin-left: 0px
    }
    .btn.btn-large {
        padding: 15px 30px;
    }
    .section-side-image .text-inner-2 {
        padding: 40px;
    }
    .section-side-image .text-inner {
        padding: 40px 40px 40px 0;
    }
    .section-side-image .text-inner.two {
        padding: 0px 40px 0px 0;
    }
    .section-side-image-2 .background-imgholder-2.top-padd {
        padding-top: 40px;
    }
    .section-side-image-2 .text-inner.two {
        padding: 0px 40px 0px 0;
    }
    .section-side-image .text-inner-5 {
        padding: 40px 40px 40px 40px;
    }
    .sec-title-container.less-padding-1,
    .sec-title-container.less-padding-2,
    .sec-title-container.less-padding-3,
    .sec-title-container.less-padding-4,
    .sec-title-container.less-padding-5,
    .sec-title-container.less-padding-6 {
        padding-bottom: 30px;
    }
    .sec-padding {
        padding: 40px 0 40px 0;
    }
    .sec-more-padding-1 {
        padding: 40px 0 40px 0;
    }
    .sec-bpadding-2,
    .sec-bpadding-3,
    .sec-bpadding-4 {
        padding-bottom: 40px;
    }
    .sec-tpadding-2,
    .sec-tpadding-3,
    .sec-tpadding-4 {
        padding-top: 40px;
    }
    .section-xmore-padding,
    .section-less-padding,
    .section-less-padding-2 {
        padding: 40px 0 40px 0;
    }
    .sec-moreless-padding {
        padding: 40px 0 40px 0;
    }
    .fo-copyright-holder .social-iconbox {
        left: 5%;
    }
    .fo-sec-1 .newsletter-box {
        padding: 35px;
    }
    .fo-sec-2 .social-iconbox {
        left: 14%;
        top: -67px;
    }
    .section-side-image .text-inner-3 {
        padding: 30px 30px 0px 30px;
    }
    .fo-sec-3 {
        padding: 328px 0 0 0;
    }
    .text-box-right {
        width: 100%;
        padding: 0 0 0 0;
        float: left;
    }
    .text-box-right.less-padding-4 {
        padding: 0px 0px 0px 0px;
    }
    .header-inner {
        height: 195px;
    }
    .header-inner.less-height {
        height: 195px;
    }
    .sec-title-container {
        padding-bottom: 40px;
    }
    .sec-padding-4 {
        padding: 0 0 0 0;
    }
    .section-side-image .text-inner {
        padding: 40px 40px 40px 40px;
    }
}


/* ---------- MAX 320PX ---------- */

@media only screen and (max-width: 320px) {
    .margin-bottom {
        margin-bottom: 30px;
    }
    .margin-bottom-4,
    .margin-bottom-5 {
        margin-bottom: 20px;
    }
    .margin-top-3,
    .margin-top-4,
    .margin-top-5,
    .margin-top-6,
    .margin-top-7 {
        margin-top: 20px;
    }
    .col-divider-margin {
        margin-top: 20px;
    }
    .col-divider-margin-1,
    .col-divider-margin-2,
    .col-divider-margin-3,
    .col-divider-margin-4,
    .col-divider-margin-5,
    .col-divider-margin-6 {
        margin-top: 20px;
    }
    .margin-left-1,
    .margin-left-2,
    .margin-left-3,
    .margin-left-4,
    .margin-left-5,
    .margin-left-6,
    .margin-left-7 {
        margin-left: 0px;
    }
    .padding-top-1,
    .padding-top-2,
    .padding-top-3,
    .padding-top-4,
    .padding-top-5,
    .padding-top-6 {
        padding-top: 20px;
    }
    .padding-left-1,
    .padding-left-2,
    .padding-left-3,
    .padding-left-4,
    .padding-left-5,
    .padding-left-6,
    .padding-left-7,
    .padding-left-8 {
        padding-left: 20px;
    }
    .padding-right-1,
    .padding-right-2,
    .padding-right-3,
    .padding-right-4,
    .padding-right-5,
    .padding-right-6,
    .padding-right-7,
    .padding-right-8 {
        padding-right: 20px;
    }
    .lspace-sm,
    .lspace-1,
    .lspace-2,
    .lspace-3,
    .lspace-4,
    .lspace-5 {
        letter-spacing: 0px;
    }
    .iconbox-dxlarge.left,
    .iconbox-xlarge.left,
    .iconbox-large.left,
    .iconbox-xmedium.left,
    .iconbox-medium.left,
    .iconbox-smedium.left,
    .iconbox-small.left,
    .iconbox-tiny.left,
    .iconbox-xtiny.left {
        margin: 0px 0px 20px 0px;
    }
    .imgbox-dxlarge.left,
    .imgbox-dxlarge-2.left,
    .imgbox-xlarge.left,
    .imgbox-large.left,
    .imgbox-xmedium.left,
    .imgbox-medium.left,
    .imgbox-smedium.left,
    .imgbox-small.left,
    .imgbox-tiny.left,
    .imgbox-xtiny.left {
        float: left;
        margin: 0px 0 20px 0px;
    }
    .text-box-right {
        width: 100%;
        padding: 0 0 0 0;
    }
    .text-box-left {
        width: 100%;
        padding: 0 0 0 0;
    }
    .text-box.padding-1,
    .text-box.padding-2,
    .text-box.padding-3,
    .text-box.padding-4,
    .text-box.padding-5,
    .text-box.padding-6,
    .text-box.padding-7,
    .text-box.padding-8,
    .text-box.padding-9 {
        padding: 20px;
    }
    .text-box-right.more-padding-1,
    .text-box-right.more-padding-2,
    .text-box-right.more-padding-3,
    .text-box-right.more-padding-4,
    .text-box-right.less-padding-1,
    .text-box-right.less-padding-2,
    .text-box-right.less-padding-3 {
        padding: 0px 0px 0px 0px;
    }
    .btn.btn-mar-left-1,
    .btn.btn-mar-left-2,
    .btn.btn-mar-left-3,
    .btn.btn-mar-left-4,
    .btn.btn-mar-left-5 {
        margin-left: 0px
    }
    .btn.btn-large {
        padding: 15px 30px;
    }
    .section-side-image .text-inner {
        padding: 40px 40px 40px 0;
    }
    .section-side-image .text-inner.two {
        padding: 0px 40px 0px 0;
    }
    .section-side-image-2 .background-imgholder-2.top-padd {
        padding-top: 40px;
    }
    .section-side-image-2 .text-inner.two {
        padding: 0px 40px 0px 0;
    }
    .sec-title-container.less-padding-1,
    .sec-title-container.less-padding-2,
    .sec-title-container.less-padding-3,
    .sec-title-container.less-padding-4,
    .sec-title-container.less-padding-5,
    .sec-title-container.less-padding-6 {
        padding-bottom: 30px;
    }
    .sec-padding {
        padding: 30px 0 30px 0;
    }
    .sec-more-padding-1 {
        padding: 30px 0 30px 0;
    }
    .sec-bpadding-2,
    .sec-bpadding-3,
    .sec-bpadding-4 {
        padding-bottom: 30px;
    }
    .sec-tpadding-2,
    .sec-tpadding-3,
    .sec-tpadding-4 {
        padding-top: 30px;
    }
    .section-xmore-padding,
    .section-less-padding,
    .section-less-padding-2 {
        padding: 30px 0 30px 0;
    }
    .sec-moreless-padding {
        padding: 30px 0 30px 0;
    }
    .fo-copyright-holder .social-iconbox {
        left: 16%;
        top: -59px;
    }
    .fo-copyright-holder .social-iconbox {
        width: 71%;
    }
    .fo-copyright-holder .social-iconbox .side-shape1.right-icon {
        left: 213px;
    }
    .fo-sec-2 .social-iconbox {
        left: 9%;
        top: -57px;
    }
    .fo-sec-3 {
        padding: 409px 0 0 0;
    }
    .fo-copyright-holder .social-iconbox .side-shape1 {
        left: -13px;
        top: 1px;
    }
    .fo-copyright-holder .social-iconbox .side-shape1.right-icon {
        left: 205px;
        top: 1px;
    }
    .header-inner {
        height: 170px;
    }
    .header-inner.less-height {
        height: 170px;
    }
    .sec-title-container {
        padding-bottom: 35px;
    }
}