/*============ Feature boxes ============ */


/* title line
 ------------------------------ */

.ce-sub-text {
    width: 80%;
    margin: 15px auto 0 auto;
}

.ce-sub-text.less-width {
    width: 80%;
    margin: 15px auto 0 auto;
}

.ce-sub-text.align-left {
    width: 80%;
    margin: 15px auto 0 0;
}

.ce-title-line {
    width: 12%;
    height: 2px;
    background-color: #ff971c;
    margin: 15px auto 0 auto;
}

.ce-title-line.white {
    background-color: #fff !important;
}

.ce-title-line.align-left {
    width: 12%;
    height: 2px;
    background-color: #ff971c;
    margin: 15px 88% 0 auto;
}


/* feature box 14
 ------------------------------ */

.ce-feature-box-14 {
    width: 100%;
    float: left;
}

.ce-feature-box-14 .text-box {
    position: relative;
    width: 100%;
    padding: 80px;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
}

.ce-feature-box-14 .text-box .icon {
    position: relative;
    color: #007bff;
    top: 45px;
    transition: all 0.3s ease-out 0s;
}

.ce-feature-box-14 .text-box .title {
    position: relative;
    padding-top: 10px;
    color: #101010;
    top: 42px;
    transition: all 0.3s ease-out 0s;
}

.ce-feature-box-14 .text-box .small-text {
    position: relative;
    color: #727272;
    opacity: 0;
    top: 150px;
    transition: all 0.3s ease-out 0s;
}

.ce-feature-box-14:hover .text-box .icon {
    top: 0px;
}

.ce-feature-box-14:hover .text-box .small-text {
    top: 2px;
    opacity: 1;
}

.ce-feature-box-14:hover .text-box .title {
    top: 2px;
}

.ce-feature-box-14 .text-box.bg-2 {
    background-color: #1c1c1c;
}


/*shadow*/

.ce-feature-box-14:hover .text-box {
    box-shadow: 1px 4px 20px -2px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
}


/*primary hover*/

.ce-feature-box-14.primary:hover .text-box,
.ce-feature-box-14.primary.active .text-box {
    background-color: #007bff;
    -webkit-box-shadow: 1px 4px 20px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 4px 20px -2px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
}

.ce-feature-box-14.primary:hover .text-box .icon,
.ce-feature-box-14.primary.active .text-box .icon {
    color: #fff;
    top: 0px;
}

.ce-feature-box-14.primary:hover .text-box .small-text,
.ce-feature-box-14.primary.active .text-box .small-text {
    color: #fff;
    top: 2px;
    opacity: 1;
}

.ce-feature-box-14.primary:hover .text-box .title,
.ce-feature-box-14.primary.active .text-box .title {
    color: #fff;
    top: 2px;
}