.register-box h1 {
    float: left;
    font-size: 40px;
    color: #fff !important;
    border-bottom: 6px solid #ff7e20;
    margin-bottom: 50px;
    padding: 13px 0;
}

.email-box {
    color: #fff;
    background: none;
    font-size: 18px;
    font-weight: 200px;
    outline: none;
}

.photo-box {
    color: #fff;
    background: none;
    font-weight: 200px;
    outline: none;
}

.name-box {
    color: #fff;
    font-size: 18px;
    font-weight: 200px;
}

.phone-box {
    color: #fff;
    font-size: 18px;
    font-weight: 200px;
}

.password-box {
    color: #fff;
    font-size: 18px;
    font-weight: 200px;
}

.button-box {
    text-align: center;
}

.button-box input {
    width: 50%;
    background: none;
    border: 2px solid #ff7e20;
    color: white;
    font-size: 18px;
    margin: 12px 0;
}

::placeholder {
    color: rgb(49, 74, 95);
}